body{
    font-family: 'Poppins', sans-serif;
    background-color: #F7F7F7;
}


.sidebar{
    width: 264px;
    background-color: #60AAAB;    ;
    color: white;

    a{
        color: #ffffff;
        margin-top: 5px;
        opacity: 0.5;     
    }

    i{
        .logo-class{
            width: 100%;
            height: 100%;
        }
    }
}

.side-items{
    text-decoration: none;
    width: 240px;
}

.side-item{
 cursor: pointer;
 text-decoration: none;
 display: flex;
 flex-direction: row;
 align-items: center; 
 height: 56px;
 width: 240px;
 padding: 16px;
 margin-left: 10px;
}
.side-item:hover{
 background: rgba(255, 255, 255, 0.2);
 border-radius: 8px;
}

.side-item:hover .side-items{
 opacity: 1;
}



.topbar{
    background-color: white;
    height: 90px;
}


.fa-sharp{
    padding-left: 115px;
}

.logo{
    font-size: 17px;
    font-weight: bold;
}

.logo-white{
    margin-right: 10px;
    margin-left: 5px;
    font-size: 20px;
    background-color: white;
    border-radius: 35%;
}


.navbar{
    position: relative;
    .search{
        
        input{
            width: 658px;
            height: 48px;
            border-radius: 8px;
            border: 1px solid #D6D6D6;
            box-shadow: 0px 0px 60px #d3d2d2;
            padding-left: 50px;
            opacity: 0.5;
            outline: 1px solid gainsboro;
        }
        
    }

    .fa-solid{
        position: absolute;
        top: 50;
        left: 20px;
        opacity: 0.5;   
        font-size: 18px;
    }
}



.icon-user{
    display: flex;
    justify-content: right;
}

.icon-window{
    height: 48px;
    width: 50px;
    border: 1px solid #D6D6D6;
   border-radius: 8px;
   outline: 1px solid gainsboro;
   box-shadow: 0px 0px 10px #d3d2d2;
   margin-left: 20px;
}

.icons{
    font-size: 25px;
    cursor: pointer;
    padding-left: 100px;
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: 1A1818(70, 68, 68);
    :hover{
        color: gray;
        transition: 0.3s;
    }
    .space{
        margin-left: 12px;
        padding-top: 10px;
    }

    .count{
        position: relative;
    }

    .count-color{
        position: absolute;
        top: -10px;
        right: -25px;
        background-color: #FF7D7D;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        span{
            position: absolute;
            top: 6px;
            left: 7px;
            font-size: 9px;
            font-weight: 400;
            color: #fff;
        }
    }
}

.user{
    padding-left: 150px;
    display: flex;
    align-items: center;
    cursor: pointer;
    .img{
        
        .username{
            width: 48px;
            height: 48px;
            
        }
    }
    
    .user-name{
        padding-left: 10px;
          
        
        h4{
        width: 150px;
        height: 16px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #1A1818;   
        }

        h6{
            flex: none;
            order: 1;
            flex-grow: 0;
            color: #B4B4B4;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            width: 170px;
            height: 18px;
        }
    }

    .arrow{
        color: #1A1818;
        margin-left: 40px;
        width: 7px;
        cursor: pointer;

        :hover{
            color: gray;
            
        }
    }
}

.latest{
margin-left: 10px;
width: 99px;
height: 20px;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #1A1818;

}

.see{
width: 45px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
color: #B4B4B4;
padding-left: 10px;
flex: none;
order: 0;
flex-grow: 0;
}


.fa-angle-right{
    
    color: #B4B4B4;
    font-size: 10px;
}

.create-new{
    margin-top: -20px;
    text-align: right;
    cursor: pointer;

    a{
        text-decoration: none;
    }

    span{
    width: 116px;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #78ADFD;

    }

    i{
        font-size: 14px;
        color: #78ADFD;
    }

    :hover{
        color: gray;
    }
}


.backg{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 1px #d3d2d2;
    justify-content: center;
    align-items: center;

    a{
        text-decoration: none;
    }
}

.project-1{
    height: 281px;
    width: 344px;
    background-color: #FFFFFF;
    border: 1px solid gainsboro;
    border-radius: 10px;
    position: relative;
    
    .users{
        position: relative;
        .img-1{
            position: absolute;
            top: 5px;
            left: 20px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
        }
        .img-2{
            position: absolute;
            top: 5px;
            left: 40px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
        }
        .img-3{
            position: absolute;
            top: 5px;
            left: 60px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
        }
        span{
            position: absolute;
            top: 6px;
            left: 85px;
            text-align: center;
            
        }

        .count{
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: #FFF8E7;
        }

        .fa-comments{
            position: absolute;
            top: 10px;
            right: 168px;
            color: #707070;
        }
        

        .comment{
            position: absolute;
            top: 8px;
            right: -5px;
            color: #707070;
            font-size: 13px;
            font-family: 'Poppins';
            font-style: normal;
        }

        .fa-paperclip{
            position: absolute;
            top: 10px;
            right: 70px;
            color: #707070;
        }

        .task{
            position: absolute;
            top: 8px;
            right: -160px;
            color: #707070;
            font-size: 13px;
            font-family: 'Poppins';
            font-style: normal;
        }
    }
   
    
    

    h4{
        width: 312px;
        height: 14px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 21px;
        color: #1A1818;
        margin-left: 20px;

        }

        h6{
            flex: none;
            order: 1;
            flex-grow: 0;
            color: #B4B4B4;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
            width: 170px;
            height: 18px;
            margin-left: 20px;
        }

       span{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0; 
        } 
    
}

.project-2{
    height: 281px;
    width: 344px;
    background-color: #FFFFFF;
    border: 1px solid gainsboro;
    border-radius: 10px;
    position: relative;

    .users{
        position: relative;
        .img-1{
            position: absolute;
            top: 5px;
            left: 20px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
        }
        .img-2{
            position: absolute;
            top: 5px;
            left: 40px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
        }
        .img-3{
            position: absolute;
            top: 5px;
            left: 60px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
        }
        span{
            position: absolute;
            top: 6px;
            left: 85px;
            text-align: center;
            
        }

        .count{
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: #FFF8E7;
        }

        .fa-comments{
            position: absolute;
            top: 10px;
            right: 168px;
            color: #707070;
        }

        .comment{
            position: absolute;
            top: 8px;
            right: -5px;
            color: #707070;
            font-size: 13px;
            font-family: 'Poppins';
            font-style: normal;
        }

        .fa-paperclip{
            position: absolute;
            top: 10px;
            right: 70px;
            color: #707070;
        }

        .task{
            position: absolute;
            top: 8px;
            right: -160px;
            color: #707070;
            font-size: 13px;
            font-family: 'Poppins';
            font-style: normal;
        }
    }
    .btn-success{
        width: 187px;
        height: 36px;
        background: #F6FFFF;
        color: #74B3B4;
        border-radius: 30px;
        border: none;
        margin-top: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        margin-left: 5px;
    }

    .btn-warning{
        background-color: #ECE77A;
        outline: none;
        border: none;
        color: white;
        width: 77px;
        height: 26px;
        border-radius: 30px;
        padding: 2px 10px;
        margin-top: 15px;
        margin-left: 10px;

        }

        .btn-warning:hover{
            background-color: gray;
        }

    .btn-primary{
    background-color: #97C1FF;
    outline: none;
    border: none;
    width: 52px;
    height: 26px;
    border-radius: 30px;
    padding: 2px 10px;
    margin-top: 15px;
    margin-left: 15px;
    }

    .btn-primary:hover{
        background-color: gray;
    }

    h4{
        width: 312px;
        height: 14px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 21px;
        color: #1A1818;
        margin-left: 20px;

        }

        h6{
            flex: none;
            order: 1;
            flex-grow: 0;
            color: #B4B4B4;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
            width: 170px;
            height: 18px;
            margin-left: 20px;
        }

        span{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0; 
        }

        
}

.project-3{
    height: 281px;
    width: 344px;
    background-color: #FFFFFF;
    border: 1px solid gainsboro;
    border-radius: 10px;
    position: relative;

    
    .btn-success{
        width: 187px;
        height: 36px;
        background: #F6FFFF;
        color: #74B3B4;
        border-radius: 30px;
        border: none;
        margin-top: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        margin-left: 5px;
    }
    h4{
        width: 312px;
        height: 14px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 21px;
        color: #1A1818;
        margin-left: 20px;

        }

        h6{
            flex: none;
            order: 1;
            flex-grow: 0;
            color: #B4B4B4;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
            width: 170px;
            height: 18px;
            margin-left: 20px;
        }

        span{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0; 
        }

        .users{
            position: relative;
            .img-1{
                position: absolute;
                top: 5px;
                left: 20px;
                width: 28px;
                height: 28px;
                border-radius: 50%;
            }
            .img-2{
                position: absolute;
                top: 5px;
                left: 40px;
                width: 28px;
                height: 28px;
                border-radius: 50%;
            }
            .img-3{
                position: absolute;
                top: 5px;
                left: 60px;
                width: 28px;
                height: 28px;
                border-radius: 50%;
            }
            span{
                position: absolute;
                top: 6px;
                left: 85px;
                text-align: center;
                
            }

            .count{
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color: #FFF8E7;
            }

            .fa-comments{
                position: absolute;
                top: 10px;
                right: 168px;
                color: #707070;
            }
    
            .comment{
                position: absolute;
                top: 8px;
                right: -5px;
                color: #707070;
                font-size: 13px;
                font-family: 'Poppins';
                font-style: normal;
            }
    
            .fa-paperclip{
                position: absolute;
                top: 10px;
                right: 70px;
                color: #707070;
            }
    
            .task{
                position: absolute;
                top: 8px;
                right: -160px;
                color: #707070;
                font-size: 13px;
                font-family: 'Poppins';
                font-style: normal;
            }

            
        }
        
}

.btn-secondary{
    background-color: #73BEBF;
    outline: none;
    border: none;
    color: white;
    width: 77px;
    height: 26px;
    border-radius: 30px;
    padding: 2px 10px;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 14px;
    }
.btn-danger{
    background-color: #FF9F9F;
    outline: none;
    border: none;
    width: 81px;
    height: 29px;
    border-radius: 30px;
    padding: 2px 10px;
}
	
.dots{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    opacity: 0.5;
    cursor: pointer;
}

.acts{
    width: 312px;
    height: 48px;
    margin-left: 15px;
}

.title{
    height: 41px;
    justify-content: space-between;
    background: #38A8A8;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    opacity: 0.8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.clock{
    margin-left: 25px;
    
}

.time{
    margin-left: 40px;
    
}

.info{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
color: #545454;
position: relative;
justify-content: space-between;
.low{
    height: 10px;
    width: 10px;
    background-color: #5FDCB3;
    border-radius: 50%;
    position: relative;

    span{
        position: absolute;
        top: -5px;
        left: 20px;
        color: #1A1818;
    }
}

.high{
    height: 10px;
    width: 10px;
    background-color: #EF8354;
    border-radius: 50%;
    position: relative;

    span{
        position: absolute;
        top: -5px;
        left: 20px;
        color: #1A1818;
    }
}

.medium{
    height: 10px;
    width: 10px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;

    span{
        position: absolute;
        top: -5px;
        left: 20px;
        color: #1A1818;
    }
}
}

.fa-ellipsis{
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    color: black;
}


.custom-width{
    margin-left: -90px;
    width: 1750px;
}



.overview{
    color: #1A1818;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}


.mnth{
    color:#707070;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.5;
}



.d-w-m{
    text-align: right;
    font-size: 14px;
    font-size: 600;
    span{
        color: #B4B4B4;
    }

    .brdr-bottom{
        color: #38A8A8;
        border-bottom: 1px solid #38A8A8;
    }
}

.in-progress{
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #4674B9;
    position: absolute;
    top: 20px;
    left: 10px;
}

.done{
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #73BEBF;
    position: absolute;
    top: 20px;
    left: 150px;
}

.in-progress-text{
    position: absolute;
    top: 18px;
    left: 35px;
    color: #1A1818;
    font-weight: 400;
    font-size: 14px;
}

.done-text{
    position: absolute;
    top: 18px;
    left: 175px;
    color: #1A1818;
    font-weight: 400;
    font-size: 14px;
}


.graph{
    position: relative;

    img{
        width: 100%;
    }
}


.custom-opa{
    color: #B4B4B4;
    font-weight: 400;
    font-size: 14px;
}

.black{
    color: #1A1818;
    font-size: 14px;
    font-weight: 600;
}


.clients-city{
margin-left: 10px;
margin-top: 20px;
font-weight: 700;
font-size: 16px;
color: #1A1818;
}

.cal{
    margin-top: 30px;
    margin-left: 20px;
    h6{
    color: #1A1818;
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
    }

    .flt-right{
        margin-left: 68px;
    }
}

.was{
    margin-top: 15px;
    margin-left: 20px;
    h6{
    color: #1A1818;
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
    }

    .flt-right{
        margin-left: 50px;
    }
}

.flo{
    margin-top: 15px;
    margin-left: 20px;
    h6{
    color: #1A1818;
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
    }

    .flt-right{
        margin-left: 82px;
    }
}

.tex{
    margin-top: 15px;
    margin-left: 20px;
    h6{
    color: #1A1818;
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
    }

    .flt-right{
        margin-left: 93px;
    }
}

.vir{
    margin-top: 15px;
    margin-left: 20px;
    h6{
    color: #1A1818;
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
    }

    .flt-right{
        margin-left: 80px;
    }
}


.pie{
    img{
        margin-top: 10%;
    }
}

.sales-rate{
    div{
        color: #1A1818;
        font-size: 17px;
        font-weight: 500;
        margin-top: 25px;
        span{
            float: right;
            margin-right: 10px;
        }
    }
}



//custom cols
.column-1{
    width: 802px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.column-2{
    width: 898px;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.custom-col-1{
    width: 1100px;
    border-radius: 10px;
}

.custom-col-2{
    width: 500px;
    margin-left: 50px;
    border-radius: 10px;
}
//




.btn-green{
    width: 187px;
    height: 36px;
    background: #F6FFFF;
    color: #74B3B4;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    margin-right: 50px;  
}

.btn-info{
    background-color: #8BE6FF;
    outline: none;
    border: none;
    width: 81px;
    height: 29px;
    border-radius: 30px;
    padding: 2px 10px;
    margin-left: 10px;
    color: white;
    font-size: 14px;    
    }
    .btn-info:hover{
        color: #fff;
        background-color: #5baac0;
        border-color: #8bd1ff;
    }



    .users{
        position: relative;
        .img-1{
            position: absolute;
            top: 5px;
            left: 20px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
        }
        .img-2{
            position: absolute;
            top: 5px;
            left: 40px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
        }
        .img-3{
            position: absolute;
            top: 5px;
            left: 60px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
        }

        .count{
            text-align: center;
            position: absolute;
            top: 5px;
            left:85px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: #FFF8E7;


        }

        .three-dots{
            cur
            span{
                color: rgb(168, 164, 164);
                font-size: 20px;
            }
         }
    }

.cls{
    position: absolute;
    top: 10px;
    left: 320px;
    cursor: pointer;
    color: black;
    justify-content: right;
}


#span-id{
    font-size: 14px;
    font-weight: 600;
    color:#1A1818;
    margin-left: 10px;
}

.c{
    width: 32px;
    height: 32px;
    background: #38A8A8;
    border-radius: 50px;
    position: relative;
    
    span{
        position: absolute;
        top: 6px;
        left: 10px;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
    }
}



@media (min-width: 2400px){
    .custom-width{
        margin-left: -400px;
        width: 2350px;
    }

    .custom-col-1{
        width: 1700px;
        border-radius: 10px;
    }
    
    .custom-col-2{
        width: 620px;
        margin-left: 30px;
        border-radius: 10px;
    }

    .column-1{
        width: 1700px;
        border-radius: 10px;
    }

    .column-2{
        width: 620px;
        border-radius: 10px;
        margin-left: 30px;
    }

    .pie{
        text-align: center;
        align-items: center;
        padding-bottom: 80px;
    }
}

