body {
  font-family: 'Poppins', sans-serif;
  background-color: #F7F7F7;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar {
  width: 264px;
  background-color: #60AAAB;
  color: white;
}

.sidebar a {
  color: #ffffff;
  margin-top: 5px;
  opacity: 0.5;
}

.sidebar i .logo-class {
  width: 100%;
  height: 100%;
}

.side-items {
  text-decoration: none;
  width: 240px;
}

.side-item {
  cursor: pointer;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  width: 240px;
  padding: 16px;
  margin-left: 10px;
}

.side-item:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.side-item:hover .side-items {
  opacity: 1;
}

.topbar {
  background-color: white;
  height: 90px;
}

.fa-sharp {
  padding-left: 115px;
}

.logo {
  font-size: 17px;
  font-weight: bold;
}

.logo-white {
  margin-right: 10px;
  margin-left: 5px;
  font-size: 20px;
  background-color: white;
  border-radius: 35%;
}

.navbar {
  position: relative;
}

.navbar .search input {
  width: 658px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #D6D6D6;
  -webkit-box-shadow: 0px 0px 60px #d3d2d2;
          box-shadow: 0px 0px 60px #d3d2d2;
  padding-left: 50px;
  opacity: 0.5;
  outline: 1px solid gainsboro;
}

.navbar .fa-solid {
  position: absolute;
  top: 50;
  left: 20px;
  opacity: 0.5;
  font-size: 18px;
}

.icon-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-window {
  height: 48px;
  width: 50px;
  border: 1px solid #D6D6D6;
  border-radius: 8px;
  outline: 1px solid gainsboro;
  -webkit-box-shadow: 0px 0px 10px #d3d2d2;
          box-shadow: 0px 0px 10px #d3d2d2;
  margin-left: 20px;
}

.icons {
  font-size: 25px;
  cursor: pointer;
  padding-left: 100px;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: 1A1818 70, 68, 68;
}

.icons :hover {
  color: gray;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icons .space {
  margin-left: 12px;
  padding-top: 10px;
}

.icons .count {
  position: relative;
}

.icons .count-color {
  position: absolute;
  top: -10px;
  right: -25px;
  background-color: #FF7D7D;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.user {
  padding-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.user .img .username {
  width: 48px;
  height: 48px;
}

.user .user-name {
  padding-left: 10px;
}

.user .user-name h4 {
  width: 150px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #1A1818;
}

.user .user-name h6 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  color: #B4B4B4;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  width: 170px;
  height: 18px;
}

.user .arrow {
  color: #1A1818;
  margin-left: 40px;
  width: 7px;
  cursor: pointer;
}

.user .arrow :hover {
  color: gray;
}

.latest {
  margin-left: 10px;
  width: 99px;
  height: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1A1818;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.see {
  width: 45px;
  height: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #B4B4B4;
  padding-left: 10px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.fa-angle-right {
  color: #B4B4B4;
  font-size: 10px;
}

.create-new {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  text-align: right;
  cursor: pointer;
}

.create-new a {
  text-decoration: none;
}

.create-new span {
  width: 116px;
  height: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #78ADFD;
}

.create-new i {
  font-size: 14px;
  color: #78ADFD;
}

.create-new :hover {
  color: gray;
}

.backg {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 1px #d3d2d2;
          box-shadow: 0px 0px 1px #d3d2d2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backg a {
  text-decoration: none;
}

.project-1 {
  height: 281px;
  width: 344px;
  background-color: #FFFFFF;
  border: 1px solid gainsboro;
  border-radius: 10px;
  position: relative;
}

.project-1 .users {
  position: relative;
}

.project-1 .users .img-1 {
  position: absolute;
  top: 5px;
  left: 20px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.project-1 .users .img-2 {
  position: absolute;
  top: 5px;
  left: 40px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.project-1 .users .img-3 {
  position: absolute;
  top: 5px;
  left: 60px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.project-1 .users span {
  position: absolute;
  top: 6px;
  left: 85px;
  text-align: center;
}

.project-1 .users .count {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #FFF8E7;
}

.project-1 .users .fa-comments {
  position: absolute;
  top: 10px;
  right: 168px;
  color: #707070;
}

.project-1 .users .comment {
  position: absolute;
  top: 8px;
  right: -5px;
  color: #707070;
  font-size: 13px;
  font-family: 'Poppins';
  font-style: normal;
}

.project-1 .users .fa-paperclip {
  position: absolute;
  top: 10px;
  right: 70px;
  color: #707070;
}

.project-1 .users .task {
  position: absolute;
  top: 8px;
  right: -160px;
  color: #707070;
  font-size: 13px;
  font-family: 'Poppins';
  font-style: normal;
}

.project-1 .btn-success {
  width: 187px;
  height: 36px;
  background: #F6FFFF;
  color: #74B3B4;
  border-radius: 30px;
  border: none;
  margin-top: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  margin-left: 5px;
}

.project-1 .btn-info {
  background-color: #8BE6FF;
  outline: none;
  border: none;
  width: 77px;
  height: 26px;
  border-radius: 30px;
  padding: 2px 10px;
  margin-top: 15px;
  margin-left: 10px;
  color: white;
  font-size: 14px;
}

.project-1 .btn-info:hover {
  background-color: gray;
}

.project-1 h4 {
  width: 312px;
  height: 14px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: #1A1818;
  margin-left: 20px;
}

.project-1 h6 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  color: #B4B4B4;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  width: 170px;
  height: 18px;
  margin-left: 20px;
}

.project-1 span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.project-2 {
  height: 281px;
  width: 344px;
  background-color: #FFFFFF;
  border: 1px solid gainsboro;
  border-radius: 10px;
  position: relative;
}

.project-2 .users {
  position: relative;
}

.project-2 .users .img-1 {
  position: absolute;
  top: 5px;
  left: 20px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.project-2 .users .img-2 {
  position: absolute;
  top: 5px;
  left: 40px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.project-2 .users .img-3 {
  position: absolute;
  top: 5px;
  left: 60px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.project-2 .users span {
  position: absolute;
  top: 6px;
  left: 85px;
  text-align: center;
}

.project-2 .users .count {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #FFF8E7;
}

.project-2 .users .fa-comments {
  position: absolute;
  top: 10px;
  right: 168px;
  color: #707070;
}

.project-2 .users .comment {
  position: absolute;
  top: 8px;
  right: -5px;
  color: #707070;
  font-size: 13px;
  font-family: 'Poppins';
  font-style: normal;
}

.project-2 .users .fa-paperclip {
  position: absolute;
  top: 10px;
  right: 70px;
  color: #707070;
}

.project-2 .users .task {
  position: absolute;
  top: 8px;
  right: -160px;
  color: #707070;
  font-size: 13px;
  font-family: 'Poppins';
  font-style: normal;
}

.project-2 .btn-success {
  width: 187px;
  height: 36px;
  background: #F6FFFF;
  color: #74B3B4;
  border-radius: 30px;
  border: none;
  margin-top: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  margin-left: 5px;
}

.project-2 .btn-warning {
  background-color: #ECE77A;
  outline: none;
  border: none;
  color: white;
  width: 77px;
  height: 26px;
  border-radius: 30px;
  padding: 2px 10px;
  margin-top: 15px;
  margin-left: 10px;
}

.project-2 .btn-warning:hover {
  background-color: gray;
}

.project-2 .btn-primary {
  background-color: #97C1FF;
  outline: none;
  border: none;
  width: 52px;
  height: 26px;
  border-radius: 30px;
  padding: 2px 10px;
  margin-top: 15px;
  margin-left: 15px;
}

.project-2 .btn-primary:hover {
  background-color: gray;
}

.project-2 h4 {
  width: 312px;
  height: 14px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: #1A1818;
  margin-left: 20px;
}

.project-2 h6 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  color: #B4B4B4;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  width: 170px;
  height: 18px;
  margin-left: 20px;
}

.project-2 span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.project-3 {
  height: 281px;
  width: 344px;
  background-color: #FFFFFF;
  border: 1px solid gainsboro;
  border-radius: 10px;
  position: relative;
}

.project-3 .btn-success {
  width: 187px;
  height: 36px;
  background: #F6FFFF;
  color: #74B3B4;
  border-radius: 30px;
  border: none;
  margin-top: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  margin-left: 5px;
}

.project-3 h4 {
  width: 312px;
  height: 14px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: #1A1818;
  margin-left: 20px;
}

.project-3 h6 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  color: #B4B4B4;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  width: 170px;
  height: 18px;
  margin-left: 20px;
}

.project-3 span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.project-3 .users {
  position: relative;
}

.project-3 .users .img-1 {
  position: absolute;
  top: 5px;
  left: 20px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.project-3 .users .img-2 {
  position: absolute;
  top: 5px;
  left: 40px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.project-3 .users .img-3 {
  position: absolute;
  top: 5px;
  left: 60px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.project-3 .users span {
  position: absolute;
  top: 6px;
  left: 85px;
  text-align: center;
}

.project-3 .users .count {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #FFF8E7;
}

.project-3 .users .fa-comments {
  position: absolute;
  top: 10px;
  right: 168px;
  color: #707070;
}

.project-3 .users .comment {
  position: absolute;
  top: 8px;
  right: -5px;
  color: #707070;
  font-size: 13px;
  font-family: 'Poppins';
  font-style: normal;
}

.project-3 .users .fa-paperclip {
  position: absolute;
  top: 10px;
  right: 70px;
  color: #707070;
}

.project-3 .users .task {
  position: absolute;
  top: 8px;
  right: -160px;
  color: #707070;
  font-size: 13px;
  font-family: 'Poppins';
  font-style: normal;
}

.btn-secondary {
  background-color: #73BEBF;
  outline: none;
  border: none;
  color: white;
  width: 77px;
  height: 26px;
  border-radius: 30px;
  padding: 2px 10px;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 14px;
}

.btn-danger {
  background-color: #FF9F9F;
  outline: none;
  border: none;
  width: 81px;
  height: 29px;
  border-radius: 30px;
  padding: 2px 10px;
}

.dots {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  opacity: 0.5;
  cursor: pointer;
}

.acts {
  width: 312px;
  height: 48px;
  margin-left: 15px;
}

.title {
  height: 41px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #38A8A8;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.clock {
  margin-left: 25px;
}

.time {
  margin-left: 40px;
}

.info {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #545454;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info .low {
  height: 10px;
  width: 10px;
  background-color: #5FDCB3;
  border-radius: 50%;
  position: relative;
}

.info .low span {
  position: absolute;
  top: -5px;
  left: 20px;
  color: #1A1818;
}

.info .high {
  height: 10px;
  width: 10px;
  background-color: #EF8354;
  border-radius: 50%;
  position: relative;
}

.info .high span {
  position: absolute;
  top: -5px;
  left: 20px;
  color: #1A1818;
}

.info .medium {
  height: 10px;
  width: 10px;
  background-color: yellow;
  border-radius: 50%;
  position: relative;
}

.info .medium span {
  position: absolute;
  top: -5px;
  left: 20px;
  color: #1A1818;
}

.fa-ellipsis {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  color: black;
}

.custom-width {
  margin-left: -90px;
  width: 1750px;
}

.overview {
  color: #1A1818;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.mnth {
  color: #707070;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
}

.d-w-m {
  text-align: right;
  font-size: 14px;
  font-size: 600;
}

.d-w-m span {
  color: #B4B4B4;
}

.d-w-m .brdr-bottom {
  color: #38A8A8;
  border-bottom: 1px solid #38A8A8;
}

.in-progress {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #4674B9;
  position: absolute;
  top: 20px;
  left: 10px;
}

.done {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background-color: #73BEBF;
  position: absolute;
  top: 20px;
  left: 150px;
}

.in-progress-text {
  position: absolute;
  top: 18px;
  left: 35px;
  color: #1A1818;
  font-weight: 400;
  font-size: 14px;
}

.done-text {
  position: absolute;
  top: 18px;
  left: 175px;
  color: #1A1818;
  font-weight: 400;
  font-size: 14px;
}

.graph {
  position: relative;
}

.graph img {
  width: 100%;
}

.custom-opa {
  color: #B4B4B4;
  font-weight: 400;
  font-size: 14px;
}

.black {
  color: #1A1818;
  font-size: 14px;
  font-weight: 600;
}

.clients-city {
  margin-left: 10px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  color: #1A1818;
}

.cal {
  margin-top: 30px;
  margin-left: 20px;
}

.cal h6 {
  color: #1A1818;
  font-weight: 500;
  font-size: 14px;
  margin-left: 10px;
}

.cal .flt-right {
  margin-left: 68px;
}

.was {
  margin-top: 15px;
  margin-left: 20px;
}

.was h6 {
  color: #1A1818;
  font-weight: 500;
  font-size: 14px;
  margin-left: 10px;
}

.was .flt-right {
  margin-left: 50px;
}

.flo {
  margin-top: 15px;
  margin-left: 20px;
}

.flo h6 {
  color: #1A1818;
  font-weight: 500;
  font-size: 14px;
  margin-left: 10px;
}

.flo .flt-right {
  margin-left: 82px;
}

.tex {
  margin-top: 15px;
  margin-left: 20px;
}

.tex h6 {
  color: #1A1818;
  font-weight: 500;
  font-size: 14px;
  margin-left: 10px;
}

.tex .flt-right {
  margin-left: 93px;
}

.vir {
  margin-top: 15px;
  margin-left: 20px;
}

.vir h6 {
  color: #1A1818;
  font-weight: 500;
  font-size: 14px;
  margin-left: 10px;
}

.vir .flt-right {
  margin-left: 80px;
}

.pie img {
  margin-top: 10%;
}

.sales-rate div {
  color: #1A1818;
  font-size: 17px;
  font-weight: 500;
  margin-top: 25px;
}

.sales-rate div span {
  float: right;
  margin-right: 10px;
}

.column-1 {
  width: 802px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.column-2 {
  width: 898px;
  border-radius: 10px;
  margin-left: 50px;
  margin-bottom: 30px;
}

@media (min-width: 2400px) {
  .custom-width {
    margin-left: -400px;
    width: 2350px;
  }
  .name-cust {
    margin-right: 500px;
  }
}
/*# sourceMappingURL=dashboard.css.map */